{% extends 'base.html' %}
{% load static %}
{% block title %}NoPainNoGame{% endblock %}
{% block script %}
{% endblock %}
{% block style %}
<style>
    .container{
        position: relative;
        height: 1200px;
        padding: 0;
    }
    .shop{
        position: relative;
        color: #F6F1EBFF;
        font-family: 'Dunggeunmo', sans-serif;
    }
    .shop a{
        color: #F6F1EBFF;
    }
    .shop_top{
        position: relative;
        width: 100%;
        height: 202.5px;
        background-image: url({% static 'image/shop_top.png' %});
        background-size: 295px auto;
    }
    .shop_wall{
        position: absolute;
        top: 183px;
        width: 100%;
        height: 720px;
        border-bottom: 10px solid transparent;
        border-image-source: url({% static 'image/header_border.png' %});
        border-image-slice: 9;
        border-image-repeat: round;
        background-image: url({% static 'image/header_back_3.png' %});
        background-size: 95px auto;
    }
    .shop_floor{
        position: absolute;
        bottom: 200px;
        width: 100%;
        height: 100px;
        background-image: url({% static 'image/header_back_4.png' %});
        background-size: 100px auto;
    }
    .shop_tv{
        position: absolute;
        top: 190px;
        left: 100px;
        width: 500px;
        height: 300px;
        background-image: url({% static 'image/tv.png' %});
        background-size: 500px auto;
    }
    iframe{
        margin-top: 56px;
        margin-left: 48px;
        width: 380px;
        height: 212px;

        background-color: black;
    }
    .shop_item{
        padding: 20px;
        position: absolute;
        right: 100px;
        height: 260px;
        background-color: gray;
        border: 13px solid transparent;
        border-image-source: url({% static 'image/header_border.png' %});
        border-image-slice: 12;
        border-image-repeat: round;
    }
    .sboard{
        border: 15px solid transparent;
        border-image-source: url({% static 'image/header_border.png' %});
        border-image-slice: 13;
        border-image-repeat: round;
        background-color: #E4BD74FF;
        background-image: url({% static 'image/header_back_1.png' %});
        background-size: 100px auto;
        left: 100px;
        top: 520px;
        width: 500px;
        height: 430px;
        padding: 15px;
    }
    .sboard .more{
        bottom: 30px;
        right: 30px;
    }
    .board_contents{
        padding: 50px;
        color: #33312CFF;
        width: 100%;
        height: 100%;
        background-image: url({% static 'image/게시판.png' %});
        background-size: 100% 100%;
    }
    .board_contents a{
        color: #33312CFF;
    }
    .sg{
        width: 450px;
        top: 230px;
        text-align: center;
        background-image: url({% static 'image/header_back_1.png' %});
        background-size: 67px auto;
    }
    .game_list{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    .game{
        width: 90px;
    }
    .game img{
        width: 80px;
    }
    .game_img_div{
       display: flex;
       align-items: center;
       height: 90px;
       background-color: white;
       border: 5px solid transparent;
        border-image-source: url({% static 'image/header_border.png' %});
        border-image-slice: 13;
        border-image-repeat: round;
    }

    .device_list{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    .device{
        width: 90px;
    }
    .pub{
        font-size: 15px;
        color: gray;
    }
    .device_img_div{
       display: flex;
       align-items: center;
       height: 90px;
       background-color: white;
       border: 5px solid transparent;
        border-image-source: url({% static 'image/header_border.png' %});
        border-image-slice: 13;
        border-image-repeat: round;
    }
    .device img{
        width: 80px;
    }
    ul{
        padding: 0;
    }
    li{
        list-style: none;
    }
    .price{
        position: absolute;
        bottom: 0;
        left: 5px;
        line-height: 35px;
    }
    .sd{
        width: 450px;
        top: 520px;
        text-align: center;
        background-image: url({% static 'image/header_back_1.png' %});
        background-size: 67px auto;
    }
    .ss{
        width: 430px;
        padding: 0;
        height: 130px;
        bottom: 250px;
        display: flex;
        justify-content: space-between;
        background: none;
        border: none;
    }
    .more{
        position: absolute;
        bottom: 5px;
        right: 5px;
    }
    .ss a div{
        position: relative;
        width: 130px;
        height: 130px;
    }
    .ss a div p{
        position: absolute;
        width: 100%;
        color: #F6F1EBFF;
        bottom: -45px;
        text-align: center;
        font-size: 20px;
        text-shadow: -2px 0 #5F381EFF, 0 2px #5F381EFF, 2px 0 #5F381EFF, 0 -2px #5F381EFF;
    }
    .shop_potion1{
        background-image: url({% static 'image/potion1.png' %});
        background-size: 130px;
    }
    .shop_book1{
        background-image: url({% static 'image/book1.png' %});
        background-size: 130px;
    }
    .shop_book2{
        background-image: url({% static 'image/book2.png' %});
        background-size: 130px;
    }
    .shop_sign{
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }
    .shop_side{
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-image-source: url({% static 'image/header_border.png' %});
        border-image-slice: 9;
        border-image-repeat: round;
        background-image: url({% static 'image/header_back.png' %});
        background-size: 100px auto;
        width: 75px;
        height: 800px;
    }
    .left{
        position: relative;
        left: 0;
    }
    .right{
        position: absolute;
        right: 0;
        top: 203px;
    }
    .shop_bottom{
        width: 100%;
        position: relative;
        height: 200px;
        border-left: 10px solid transparent;
        border-top: 10px solid transparent;
        border-right: 10px solid transparent;
        border-image-source: url({% static 'image/header_border.png' %});
        border-image-slice: 9;
        border-image-repeat: round;
        background-image: url({% static 'image/header_back_2.png' %});
        background-size: 100px auto;
    }
</style>
{% endblock %}
{% block content %}
<div class="shop">
    <div class="shop_wall"></div>
    <div class="shop_tv">
        <iframe src="{{game_v|random}}?autoplay=1&mute=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </iframe>
    </div>
    <div class="shop_top">

    </div>
    <div class="shop_floor"></div>
    <div class="shop_item sg">
        <div class="shop_sign">인기게임</div>

        <div class="game_list">
            {% for g in games %}
            <a href="{{g.get_gabsolute_url}}"><div class="game">
                <div class="game_img_div"><img src="{{g.game_image.url}}"></div>
                <p>{{g.game_name}}</p>
            </div>
            </a>
            {% endfor %}
        </div>

        <div class="more"><a href="{% if request.session.authUser is None %}{% url 'account:login' %}{% else %}{% url 'rental:game_list_all' %}{% endif %}">더보기</a></div>
    </div>
    <div class="shop_item sboard">
        <div class="board_contents">
            <div class="shop_sign">게시판</div>
            {% for p in posts %}
            <a href="{{p.get_post_url}}"><p>{{p.postname}}</p></a>
            {% endfor %}
        </div>
        <div class="more"><a href="{% if request.session.authUser is None %}{% url 'account:login' %}{% else %}{% url 'board:board' %}{% endif %}">더보기</a></div>
    </div>
    <div class="shop_item sd">
        <div class="shop_sign">인기기기</div>

        <div class="device_list">
            {% for d in devices %}
            <a href="{{d.get_dabsolute_url}}"><div class="device">
                <div class="device_img_div"><img class="device_img" src="{{d.device_image.url}}"></div>
                <p>{{d.device_name}}</p>
            </div>
            </a>
            {% endfor %}
        </div>
        <div class="more"><a href="{% if request.session.authUser is None %}{% url 'account:login' %}{% else %}{% url 'rental:device_list_all' %}{% endif %}">더보기</a></div>
    </div>
    <div class="shop_item ss">
        <a href="{% url 'home:how_to' %}"><div class="shop_book1">
            <p>대여 방법</p>
        </div></a>
        <a href="{% url 'home:how_to_pick' %}"><div class="shop_book2">
            <p>반납 방법</p>
        </div></a>
        <a href="{% url 'home:how_to_clean' %}"><div class="shop_potion1">
            <p>세척 과정</p>
        </div></a>
    </div>
    <div class="shop_side left"></div>
    <div class="shop_side right"></div>
    <div class="shop_bottom"></div>
</div>
{% endblock %}